/* Your styles here */

header {
  padding: 20px;
  text-align: center;
  background-color: black;
}
main article div {
  background-image: url(../img/banner.jpg);
}
main article div h1 {
  font-family: "Montserrat", sans-serif;
  color: #25a2a3;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 20px;
}
main article div p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
}
button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  border-radius: 2.5px;
  border-style: none;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}
section h2 {
  font-family: "Montserrat", sans-serif;
  color: #25a2a3;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}
section p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.5;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.Testimonianze {
  background-color: #e22d0e;
  line-height: 1.5;
  color: white;
  text-align: center;
  margin-top: 40px;
}
.Testimonianze h1 {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.Testimonianze p {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.Testimonianze h2 {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}
.Testimonianze h3 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  font-size: small;
}
aside section {
  border: 1px solid #dee1e3;
}
aside section img {
  display: block;
  max-width: 100%;
  height: auto;
}
aside section div {
  margin-top: 35px;
}
aside section div h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2a3;
  text-align: center;
}
aside section div p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.5;
}
footer {
  margin-top: 30px;
  background-color: #25a2c3;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}
footer p {
  font-size: xx-large;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer address h2 {
  text-decoration: underline;
  line-height: 1.5;
}
footer h3 {
  border-top: 0.5px solid white;
  padding-top: 30px;
  padding-bottom: 50px;
}
footer a {
  color: white;
}
